@charset "utf-8";
/* CSS Document */
/* 動きのためのCSS */

/*===============================
  ローディング画面CSS
  機能編 4-2-9　背景色が四角に拡大（四隅へ）
===================================*/

/*lonloadのCSS*/
#splash{  /*P.106*/
  /*fixedで全画面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff8a2;/*黄色*/
  text-align: center;
  color: #232323;
  z-index: 9999099;
}
#splash-logo{
  /*loading画像は中央に配置*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#splash-logo img,
#splash-logo canvas{
  width: 80px;
}

body.appear{
    background:#fff8a2;
}
/*画面遷移アニメーション*/
.splashbg{
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	border-width: 0px;/*開始はボーダーの太さは0*/
	border-style:solid;
  border-color: #fff8a2;/*拡大する四角の色*/
	animation-duration:.5s;
	animation-fill-mode:forwards;
}

@keyframes backBoxAnime{
	99.9% {/*アニメーション終了ぎりぎりまで*/
        z-index: 2;/*最前面に*/
		border-width: 0px;/*開始はボーダーの太さは0*/
	}
    100%{
       z-index: -1; /*最背面に*/
        border-width: 0px;/*終了はボーダーの太さは0*/
    }
}
/*画面遷移の後現れるコンテンツ設定*/
#container{
    position: relative;
    opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
    0% {
    opacity: .5;
    }
    100% {
    opacity: 1;
  }
}

/*fadeUpをするアイコンの動き※loadingImg*/
.fadeUp{
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 1;
}
@keyframes fadeUpAnime{
  from{
    opacity: 0;
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

/*==================================================
  global-nav
  機能編 5-1-16　クリックしたら円形背景が拡大（上から）
===================================*/
#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    top: 0;
    width:100%;
    height: 100vh;
    z-index: 999;
}
/*nav 丸の拡大*/
.circle-bg{
    position: fixed;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #82e0ff;
    /*丸のスタート位置と形状*/
    transform: scale(0);/*scaleをはじめは0に*/
    top:-50px;
    left:calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .7s;/*0.6秒かけてアニメーション*/
  	z-index:3;
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
	opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: fixed;
      flex-wrap: wrap;/*width幅に合わせて行数が変化*/
/*      justify-content: space-around;*/
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#g-nav ul {
    display: flex;
}


/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}

@keyframes gnaviAnime{
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
	list-style: none;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

#g-nav.panelactive ul li{
    position: relative;
    width:30%;
    text-align: left;
    white-space: nowrap;
}
@media screen and (max-width:960px) {
#g-nav.panelactive ul li{
    width:48%;
    }
}
@media screen and (max-width:780px) {
#g-nav.panelactive ul li{
    width:70%;
    }
}
@media screen and (max-width:580px) {
#g-nav.panelactive ul li{
    width:100%;
    }
}
#g-nav li a{
    padding: 15px 20px;
}
#g-nav.panelactive ul li::before{
    content:'';
    width:5px;
    height: 5px;
    background:#2e98e5;
    position: absolute;
    left:-10px;
    top:43%;
}

/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
	list-style: none;
}

#g-nav li a{
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
  color: #333;
}

/*==================================
nav-button
機能編　5-2-9 3本線がジャンプして×に
===================================*/
/*ボタン外側*/
.openbtn{
	position:fixed;
  width: 50px;
  height:50px;
	top:10px;
	right: 10px;
	cursor: pointer;
  background: #2e98e5;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9999;/*ボタンを最前面に*/
}
/*ボタン内側*/
.openbtn .openbtn-area{
    transition: all .4s;/*アニメーションの設定*/
}

.openbtn span{
    display: inline-block;
    height: 3px;
    transition: all .4s;
    position: absolute;
    left: 14px;
    border-radius: 2px;
    background-color: #fff;
  	width: 45%;  
  }
.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}
/*クリック(.active)したときの×の動き*/
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);/*移動縦軸 回転*/
    width: 30%;
}
.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}
.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);/*移動縦軸 回転*/
    width: 30%;
}
/*activeクラスが付与されると 
.openbtn-areaが360度回転し、
その中の線のtopの位置や形状が変化して×に*/

.openbtn.active .openbtn-area{
	transform: rotateX(360deg);
}
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}
.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}
.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}
/*==================================================
  slider
  機能編 6-1-1　横移動させて全画面で見せる
===================================*/
.slider{
  position: absolute;/*スライドショーの位置の起点を設定*/
  /*relativeにするとカラム落ちしてしまうがテキストはそうなっている。なぜ？*/
  width: 75%;
  height: 82.5vh;
  top: 30px;
  right: 30px;
  border:4.5px solid #2e98e5;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.slider-item01{
  background:url(..//img/gal_01.png);
}
.slider-item02{
  background:url(..//img/gal_02.png);
}
.slider-item03{
  background:url(..//img/gal_03.png);
}
.slider-item{
  width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat:no-repeat;/*背景画像をリピートしない*/
  background-position:center;/*背景画像の位置を中央に*/
  background-size: cover;/*.slider-item全体を覆い表示*/
}


/*==================================================
　button
  機能編 7-1-16	右下に押し込まれる（立体が平面に）
===================================*/
/* ボタン共通設定 */
.btn03{
    /*影の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
    text-align: center;
    background: transparent;
	border-radius: 25px;
	border: solid 1px #333;
    outline: none;
    /*アニメーションの指定*/
    transition: all 1.5s ease;
}

/*hoverをした後のボタンの形状*/
.btn03:hover{
	border-color:transparent;	
}

/*ボタンの中のテキスト*/
.btn03 span {
	position: relative;
	z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /*テキストの形状*/
	display: block;
  padding: 10px 30px;
	background:#FFF5CB;
	border-radius: 25px;
	color:#333;
    /*アニメーションの指定*/
    transition: all 0.3s ease;
}

/*影の設定*/
.pushright:before {
    content: "";
    /*絶対配置で影の位置を決める*/
    position: absolute;
	z-index: -1;
    top: 4px;
    left: 4px;
    /*影の形状*/
    width: 100%;
    height: 100%;
	border-radius: 25px;
    background-color: #333;
}

/*hoverの際にX・Y軸に4pxずらす*/
.pushright:hover span {
	background-color: #333;
	color: #fff;
	transform: translate(4px, 4px);
}



/*=======================================
　機能編 7-1-44	矢印が右に移動して現在地に戻る
===================================*/

/* ボタン共通設定 */
.btn06{
    /*矢印の基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
	background:#ffb2a2;
	color:#333;
    padding:10px;
    width:230px;
	border-radius:25px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/
    transition: ease .2s;
}
.btnarrow2::after{
    content: '';
    /*絶対配置で矢印の位置を決める*/
	position: absolute;
    top: 1.2em;
    right: 25px;
    /*矢印の形状*/
    width: 10px;
    height: 10px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
}
/*hoverした際のアニメーション*/
.btnarrow2:hover::after{
  animation: arrow .5s;
}

@keyframes arrow {
  50% {
    right: 20px;
  }
  100% {
    right: 25px;
  }
}



/*==================================================
機能編 8-1-8　page topをクリックしたら形状が変化
===================================*/
/*大元の位置を設定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:30px;
	z-index: 2;
	opacity:0;    /*はじめは非表示*/
	transform: translateY(150px);
}

/*　badgeが上に上がる動き　*/
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}
/*　badgeが下に下がる動き*/
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}
/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 100px;
	height: 100px;
	color: #333;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
/*背景画像の指定：クリック前*/
	background: url("../img/pageTop_1.svg") no-repeat center;
	background-size: contain;
}
/*.active時.pageTopに移動するのbadgeの動き方(js入る)*/
#page-top.floatAnime a{
	width: 100px;
	height: 130px;
    /*背景画像の指定クリック後*/
	background: url("../img/pageTop_2.svg") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}
/*ゆらゆら揺れながらpageTopへ*/
@keyframes floatAnime{
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-7px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(7px);opacity: 1; }
}

#page-top span{
    position: absolute;
    bottom: -10px;
    right: 34px;
    align-items: center;
}

@media screen and (max-width:940px) {
    .copywrite{
        text-align: center;
    }
    #page-top{
    position: relative;
    text-align: center;
    right: inherit;
    bottom: inherit;
    margin: 50px auto 30px auto;
    width: 80px;
    animation: none!important;
    transform:none!important;
    opacity: 1;
    }
    /*logo下の文字を中心寄せ*/
    #page-top span{
    right: 14px;
    align-items: center;
  }
}


/*====================================
印象編 4 最低限おぼえておきたい動き
===================================*/

/* 4-3 くるっ（Z 軸（右へ）） */
.rotateRightZ{
	animation-name: rotateRightZAnime;
	animation-duration:6s;
	animation-fill-mode:forwards;
}
/**/
@keyframes rotateRightZAnime{
	from{
		transform: rotateZ(0);
		}
	to{
		transform: rotateZ(360deg);
		}
}

/* 4-1 ふわっ（その場で） */
.fadeIn{
  animation-name: fadeInAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 4-2 ふわっ（下から） */
.fadeUp{
  animation-name: fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 4-2 パタッ（左上へ） */
.flipLeftTop{
  animation-name: flipLeftTopAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes flipLeftTopAnime{
  from {
   transform: translate(-20px,80px) rotate(-15deg);
    opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  	opacity: 1;
  }
}

/* 4-2 パタッ（右上へ） */
.flipRightTop{
  animation-name: flipRightTopAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes flipRightTopAnime{
  from {
   transform: translate(-20px,80px) rotate(25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,1) rotate(0deg);
	opacity: 1;
  }
}

/* 4-4 ボンッ（拡大） */
.zoomIn{
	animation-name: zoomInAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
  from {
      transform: scale(0.6);
      opacity: 0;
  }

  to {
      transform: scale(1);
      opacity: 1;
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger,
.zoomInTrigger,
.flipLeftTopTrigger,
.flipRightTopTrigger{
    opacity: 0;
}



