@charset "utf-8";
/* CSS Document */
/* レイアウトのためのCSS */

body {
    overflow-x: hidden;
    background: #fff8a2;/*背景、メインカラー*/
    font-family: 'Kosugi Maru', sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    letter-spacing: 0.2em;
}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}
a{
	color: #333;
	text-decoration: none;
    outline: none;
}

img{
    width:100%;
    height: auto;
}
  /*要素の幅 (width) や高さ (height) に対して、
パディング (padding) と境界 (border) が含まれる
→要素の実際のサイズが、指定したサイズよりも
大きくならない。*/
*{
    box-sizing: border-box;

}
/* font-family */
.header-utility li:last-child a,
.school-info li dl,
.header-area dl,
#news article time,
#page-top span,
h2 span{
    font-family: 'Lato', sans-serif;
}



/*area コンセプト　コース案内　footer*/
.inner{
  width: 100%;
  margin: 0 auto;/*センタリング*/
  padding: 70px;
}
@media screen and (max-width:940px){
  .inner{
     padding: 70px 30px;
  }
}

/* heading */
/*カタカナみだし*/
h2{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 1.1vw;
    line-height: 1.5;
}
/*英語見出し*/
h2 span{
    font-size: 3.5vw;
    text-transform: uppercase;
    display: block;   
}

@media screen and (max-width:1130px){
      h2{
        font-size: .9rem;
      }
      h2 span{
        font-size: 2.5rem;
      }
}
@media screen and (max-width:768px){
      h2{
        font-size: .8rem;
      }
      h2 span{
        font-size: 2rem;
      }
}


/* header */
#header{
  height: 100vh;
  position: relative;/*2L:縦画面目いっぱい*/
}
/*h1:すぎやまゼミナール*/
#header h1 img,
#header h1 canvas{/*目いっぱいあったimgをヘッダーの左につめた*/
    width:100px;
    position: relative;
    left:1.8em;
}
#header h1{
    font-size: 2.7vw;
    color:#666;
    line-height: 1.5;
    margin: 0 0 50px 0;
    letter-spacing: 0.2em;
}
#header h1 img{
  width: 20%;
}
#header h1 span{/*すぎやま*/
    color:#2e98e5;
    display: block;
}

.header-area{
    position: relative;
    z-index:2;
    top:30px;
    left:50px;
    animation-delay: .5s;
}

@media screen and (max-width:1200px) {
      #header h1 canvas{
        width:80px;
      }
      #header h1{
          font-size:2rem;
          }
}
@media screen and (max-width:940px) {
      /*940px以下だと下が10vh余白が開く*/
      #header{
          height: 90vh;
      }
      .header-area{
        top:0;
        left:0;
      }
      #header h1{
        /* タイトルロゴ「ピエロのキーちゃん」 */
        text-align: center;
        background: #fff;
        width: 165px;
        margin: 0 auto;     /*ここで真ん中になる*/
        border-radius: 0 0 10px 10px;
        padding: 15px 0 15px 0;
        font-size: 1.3rem;
        border-bottom: 7px solid #2e98e5;
      }
      #header h1 img,
      #header h1 canvas{
        width: 120px;
        left: inherit;
        }
}

@media screen and (max-width:450px){
  #header h1{
    width: 138px;
    font-size: 1.2rem;
  }
  #header h1 img{
    width: 46px;
  }
}
.header-area .lead{
  position: relative;
  font-size: 2vw;
  margin: 0 0 50px 0px;
  font-weight: bold;
}
@media screen and (max-width:1130px) {
    .header-area .lead{
        font-size: 1.5em;
    }    
}
@media screen and (max-width:940px) {
      .header-area .lead{
            font-size: 1.3rem;
            padding: 28vh 0 0 10vw;
      }
}

@media screen and (max-width:450px) {
      .header-area .lead{
            font-size: 1.1rem;
            padding: 32vh 0 0 7vw;
      }
}
/*横の青いポイントを議事要素を使って表示*/
.header-area .lead::after{
  content:'';
  position: absolute;
  top: 0;
  left: -50px;
  width: 10px;
  height: 100%;
  background: #2e98e5;
}
@media screen and (max-width:940px) {
    .header-area .lead::after{
        display: none;
    }
}
.header-area .bg-white{
    background:#f0f0f0;
    padding: 5px;
}
.header-area .border-yellow{
  background: linear-gradient(transparent 60%, #ff6 60%);
}
.header-area .address{
  font-size: 1.2vw;
  margin: 0 0 20px 0;
}

.header-area dt,
.header-area dd{
  display: inline-block;  
  font-size: 1.1vw;
}

@media screen and (max-width:1300px){
      .header-area .address{
          font-size: 1.2em;
          }
      .header-area dt,
      .header-area dd{
          font-size: 1em;
          }
}

@media screen and (max-width:940px){
  .header-area .address,
  .header-area dl{
    display: none;
  }
}

/*++++++++++++++++++
  資料請求とTEL
++++++++++++++++++++*/
.header-utility{
  position: absolute;
  z-index: 0;
  top: 0;
  right: 80px;
  background: #FFF582;
  font-weight: bold;
  display: flex;
}

/*資料請求リストのスラッシュ／*/
.header-utility li{
  position: relative;
}
.header-utility li:first-child::after{
/*.header-utility要素の中の最初のli要素の後→2つのリストの間*/
  content: "";
  position: absolute;
  width: 1.5px;
  height: 30px;
  right: 0;
  top: 20px;
  background: #444;
  transform: rotate(23deg);/*斜め23度*/
}
.header-utility li a{
  display: block;
  padding: 20px 20px 20px 50px;
  transition: all 0.3s;
}
.header-utility li .spnone{
  display: none;
}
.header-utility li a:hover{
     color: #666;   
}
.header-utility li:first-child a{
  background:url("../img/ico_book.svg") no-repeat 20px center;
  background-size: 20px 20px;
}
.header-utility li:last-child a{
    background:url("../img/ico_tel.svg") no-repeat 20px center;
    background-size:20px 20px;
}
@media screen and (max-width:940px) {
    .header-utility{
        position: fixed;/*スクロール固定*/
        z-index: 999;
        top: inherit;/*親要素の値を子要素が継承する*/
        right: inherit;
        bottom: 0;
        width: 100%;
    }
        .header-utility li{
            width: 50%;
            text-align: center;
        }
        .header-utility li a{
            padding: 15px 15px 15px 40px;
        }
        .header-utility li:first-child a,
        .header-utility li:last-child a{
          /*背景画像の左端を要素の左端から+35px離れた上下の中央位置に配置する。*/
            background-position:35px center;
        }
    }
@media screen and (max-width:560px) {
            /*少しだけアイコンが右にずれる*/
        .header-utility li:first-child a,
        .header-utility li:last-child a{
            background-position:20px center;
  }
          .header-utility li .spnone{
              display: none;
          }

          .header-utility li .pcnone{
              display: block;
          }
}



/*++++++++++++++++++
  キャンペーンバッジ
++++++++++++++++++++*/
/*空divの.badgeに枠をbgとして入れる*/
/*速さはpart.cssの.rotateRightZAnimeで。*/
.badge{
    position: absolute;
    z-index: 2;/*※数字間違えるとhoverで反応しない*/
    right:30px;
    bottom:70px;
    background:url(../img/badge.svg) no-repeat center;
    background-size: cover;
    width:180px;
    height: 180px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
}

.badge-inner{
    position: absolute;
    z-index: 3;
    right:30px;
    bottom:70px;
    width:180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FF9800;
    font-weight: bold;
      transition: all .5s;
}


.badge-inner:hover{
     bottom:75px;  
}

@media screen and (max-width:940px) {
    .badge,
    .badge-inner{
     width:145px;
     height: 145px;
    font-size:0.9rem;
    }
}
@media screen and (max-width:450px) {
    .badge,
    .badge-inner{
      width:118px;
      height: 118px;
      font-size:0.7rem;
      bottom: 85px;
      right: 0;
    }
      .badge-inner:hover{
         bottom:90px;  
    }
}

/*
.rotate {
  animation: turnaround 12s infinite linear;
}
@keyframes turnaround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


/*++++++++++++++++++
  slider
++++++++++++++++++++*/


@media screen and (max-width:1130px) {
      .slider{
          width:70%;
          }  
}
@media screen and (max-width:940px) {
      .slider{
          width: 94%;
          right: 2%;
      }
}
.slider-item{
    border-radius:20px;
}

/*++++++++++++++
  main/concept
+++++++++++++++*/
#concept{
  /*旗pngでアーチ*/
  background: url("../img/flag_01.png") no-repeat left top,
              url("../img/flag_02.png") no-repeat right top;
  background-size: 210px auto;
}

@media screen and (max-width:1300px) {
      #concept{
          background-size:200px auto;
      }    
}
@media screen and (max-width:768px) {
      #concept{
          background-size:150px auto;
      }    
}
@media screen and (max-width:400px) {
      #concept{
          background-size:130px auto;
      }    
}
/*h2 conceptに色つけ*/
#concept h2 span{
    color: #2e98e5;
}
/*concept sc.を囲う@580px✓*/
.concept-area{
  position: relative;
  padding: 80px;
}
/*imgにWセンタリング@580px✓*/
#concept .concept-img{
    width:40%;
    margin: 0 auto;
    animation-delay: .4s;
}
/*〇でｸﾘﾋﾟ@580px✓*/
#concept .concept-img img{
    border-radius: 50%; 
}

.concept-area ul{
    animation-delay: .5s;
}

/*------img周りの飾り文字@580px✓--------*/
  #concept .concept-area ul li{
      position: absolute;/*リストの文字全体を絶対配置*/
      font-size: 1.7vw;
  }
  /*文字の下に疑似要素で装飾:@580px✓なくす時はdisplay:none;*/
  #concept .concept-area ul li::after{
      content:'';
      position: absolute;
      width:40px;
      height: 6px;
      bottom: -10px;
      right:10px;
      background: #2e98e5;
  }
  /*4番以降のリストは飾りの位置を・・・*/
  #concept .concept-area ul li:nth-child(n+4)::after{
      left:10px;
  }

  #concept .concept-area ul li:nth-child(1){
      top: 12%;
      left: 17%;
      transform: rotate(15deg);
      animation-delay: .1s;
  }

  #concept .concept-area ul li:nth-child(2){
      top: 37%;
      left: 10%;
      transform: rotate(10deg);
      animation-delay: .3s;
  }

  #concept .concept-area ul li:nth-child(2){
      top: 37%;
      left: 10%;
      transform: rotate(10deg);
      animation-delay: .3s;
  }
  #concept .concept-area ul li:nth-child(3){
      top: 65%;
      left: 12%;
      transform: rotate(-15deg);
      animation-delay: .5s;
  }

  #concept .concept-area ul li:nth-child(4){
      top: 12%;
      right: 17%;
      transform: rotate(-15deg);
      animation-delay: .7s;
  }

  #concept .concept-area ul li:nth-child(5){
      top: 34%;
      right: 10%;
      transform: rotate(-10deg);
      animation-delay: 1.1s;
  }

  #concept .concept-area ul li:nth-child(6){
      top: 61%;
      right: 12%;
      transform: rotate(15deg);
      animation-delay: 1.3s;
  }

/*以下のpx以下になったら・・・*/
@media screen and (max-width:700px) {
    /*paddingを０に*/
      #concept .concept-area{
        padding: 0;
      }
#concept .concept-img{
  width: 50%;
  margin:0 auto 30px auto;/*1元々:0-auto*/
}
/*(1)~(6)の散った文字を戻す*/
#concept .concept-area ul li{
  position: relative;
  font-size: 1rem;
  top:inherit;/*直近の親要素ulの値に従うという意味*/
  left: inherit!important;
  right: inherit!important;
  transform: none!important;
  text-align: center;
  }
#concept .concept-area ul li::after{
  display: none;
  }
}

/*プロフィールを見るbtn*/
.concept-btn{
  padding: 50px 0 0 0;
  text-align: center;/*上に余白*/
}

/*+++++++++++++++++
   news 
++++++++++++++++++++*/
#news{
    position: relative;
    margin: 0 0 100px 0;
    padding: 50px 0 100px 0;
}

@media screen and (max-width:580px){
  #news{
  margin: 0;
  padding: 50px 0;
  }
}
#news h2,
#news h2 span{
  color: #fff;
}
/*ななめ背景を入れる*/
#news:after{
	position: absolute;
	content:'';
	top:10px;
	left:-30%;
	width:150%;
	height: 680px;
	background: #96c0eb;
	transform: rotate(-5deg);
	z-index: -1;
}

#news .news-area{
  margin: 0 auto;
  padding: 40px;
  width:70%;
  background: #fff;
  border-radius:10px;
	box-shadow: 10px 10px 2px rgba(0,30,96,0.5);
}
#news li a{
    transition: all 0.3s;
}
#news li a:hover{
     color: #666;    
}
/*newsの□の中のレイアウト。横並びにする*/
#news article{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1.9px dotted #444;
}
#news article time{
    padding: 0 2em 0 0;
    color: #666;
    font-size: 0.8rem;
}
/*それぞれの記事の見出し*/
#news article h3{
    font-size: 1rem;
}
/*840pxから下は・・・*/
@media screen and (max-width:840px){
      #news .news-area{
          width:90%;  /*幅が広くなる*/
      }
      #news article time,
      #news article h3{
          width:100%;/*2行にする*/
      }
}

/*icon:decoration*/
/*loading画面の鉛筆*/
.icon-01,
.icon-01 canvas{
  position: absolute;
  top: -60px;
  left: 40px;
  width: 80px;
}
.icon-02,
.icon-02 canvas{
  position: absolute;
  top: 0;
  right: 40px;
  width: 100px;
}
.icon-03,
.icon-03 canvas{
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 35%;
/*  background: #7ac;*/
}
.icon-04,
.icon-04 canvas{
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 100px;
}
/* canvasとは？*/


/*700px以下からは・・・*/
@media screen and (max-width:700px) {
  /*それぞれのオーナメントを上にずらす*/
    #news .icon-01,
    #news .icon-01 canvas{
        width:80px;
        bottom: inherit;
        top: -623px;
    }

    #news .icon-02,
    #news .icon-02 canvas{
        width:60px;
        right: 89px;
        top: -606px;
    }

    #news .icon-03,
    #news .icon-03 canvas{
        width:180px;
        left:10px;
        bottom: inherit;
        top: -22px;
    } 

    #news .icon-04,
    #news .icon-04 canvas{
        width:80px;
        top: -416px;
    }
}

/*+++++++++++++++++
  Course
++++++++++++++++++++*/
/*斜め背景*/
#course{
    position: relative;
    margin: 0 0 100px 0;
    padding: 50px 0 100px 0;
}


@media screen and (max-width:580px){
  #course{
  margin: 0;
  padding: 50px 0;
  }
}
/*ななめ背景を入れる*/
#course:after{
	position: absolute;
	content:'';
	top:280px;/*0は↑とかさばる*/
	left:-30%;
	width:150%;
	height: 680px;
	background: #ffb2a2;
	transform: rotate(5deg);
	z-index: -2;/*上の青より下に潜らせる*/
}
/*横並び定番3 css*/
#course .course-list{
	display: flex;/*横並び*/
  justify-content: space-around;/*均等配置*/
  flex-wrap: wrap;/*pxのwidthに応じて下に行く。*/
}
/*sectionごとのチャンク*/
.course-list section{
	position: relative;
	margin:0 0 50px 0;
  padding:20px 20px 50px 20px;
  width:28%;
	box-shadow: 10px 10px 2px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 7.5px;
}
.course-list section:nth-child(2){
     animation-delay: 0.2s;   
}
.course-list section:nth-child(3){
     animation-delay: 0.4s;   
}

/*sectionのしかくが小さすぎるのを防ぐ*/
  @media screen and (max-width:840px) {
    .course-list section{
      width:46%;
    }
  }
  @media screen and (max-width:545px) {
    .course-list section{
          /* width:100%;*/
    }
    .course-list section:nth-child(2),
    .course-list section:nth-child(3){
      animation-delay: 0s;   
    }
  }
/*section上のbadge*/
#course  .course-list  .bg-yellow{
  position: absolute;
  display: inline-block;
  left: -5px;
  top: -5px;
  background: #ff9;
  padding: 3px 5px;
  font-size: .9rem;
  z-index: 2;
}
/*section内の画像のセット*/
.course-list section .course-img{
	padding-top:70%;
	background-size:cover!important;
}
.course-list section:nth-of-type(1) .course-img{
    background:url("../img/gal_06.png") no-repeat center;
    background-size: cover;
}

.course-list section:nth-of-type(2) .course-img{
     background:url("../img/gal_05.png") no-repeat center;
    background-size: cover;
}

.course-list section:nth-of-type(3) .course-img{
     background:url("../img/gal_03.png") no-repeat center;
    background-size: cover;
}

.course-list section h3{
  margin: 30px 0 0 0;
  padding: 0 0 20px 0;
  text-align: center;
    font-size: 1.3rem;
    border-bottom: 5px double #333;
}
@media screen and (max-width:1090px) {
  .course-list section h3{
      font-size: 1rem;
  }    
}
/*++++++++++++++++
    gallery
++++++++++++++++++++*/
/*背景に定規*/
.img-gallery{
  background: url("../img/border.png") repeat-x top left,
              url("../img/border.png") repeat-x bottom left;
  background-size: 50px 16px;
  padding: 50px 0;
  margin: 0 0 100px 0;
}
.img-gallery img{
    border-radius: 10px;
}

/*+++++++++++++++++
      contact
++++++++++++++++++++*/
#contact{
  padding: 100px 30px;
  display: flex;
  justify-content: center;/*ｺﾝﾃﾅ内でｾﾝﾀﾘﾝｸﾞ*/
  background: linear-gradient(rgba(0,0,0,0.44), rgba(0,0,0,0.44)), url("../img/bg_footer.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  align-items: center;
}

#contact h2{
    font-size: 2rem;  
    position: relative;/*飾りのために必要*/
    margin: 0 0 50px 0;
  
}
/*ﾚｽﾎﾟﾝｼﾌﾞに対応して1~2行にする*/
#contact .contact-detail br{
    display: none;
}
@media screen and (max-width:1090px) {
  #contact h2{
      font-size:1.5rem;  
  }  
}
@media screen and (max-width:600px) {
  #contact .contact-detail br{
      display: block;
  }  
}  

#contact h2::after{
    position: absolute;
    content: "";
    width:15%;
    height: 5px;
    left:40%;
    bottom: -20px;
    background:#fff;
}
#contact p{
    text-align: center;
    margin: 0 0 50px 0;
}
#contact ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
#contact ul li{
  padding: 0 20px 20px 0;
  color: #fff;
}

/*+++++++++++++++++
    footer
++++++++++++++++++++*/
#footer{
    background: #96c0eb;
}
#footer,
#footer a{
    color: #fff;
}
/*2つの塊をﾚｽﾎﾟﾝｼﾌﾞで横並び/縦並びにする*/
.footer-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.school-info{
  width: 30%;
}
.school-info span{
  display: block;
  font-size: 1.7rem;
  line-height: 1.8;
  font-weight: bold;
}
/*タイトルと住所名(ﾘｽﾄ一番最初だけ)に下余白*/
.school-info dt.footer-title,
.school-info li:first-of-type{
    margin: 0 0 10px 0;
}
/*tel faxの下に余白*/
.school-info li dt{
    margin:0 10px 0 0;
}
/*項目を一列にする*/
.school-info li dt,
.school-info li dd{
    display: inline-block;
}

.footer-sitemap{
  width: 65%;
}
.footer-sitemap li{
    padding: 10px 20px;
    display: inline-block;
}
.footer-sitemap ul li a{
  position: relative;/*くのための相対配置*/
  padding: 0 10px;
}
/*liのく※正方形を作りw/hにborder,傾ける*/
.footer-sitemap ul li a::before{
	position: absolute;
	top:40%;
	left:-10px;
  width: 7px;/*正方形の枠*/
  height:7px;
	content: '';
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.copywrite{
  display: block;
  text-align: right;
}

@media screen and (max-width:1090px) {
    .footer-area{
        align-items: flex-start;
    }
      .school-info{
          width:40%;
      }
      .footer-sitemap{
          width:56%;
      }
}
@media screen and (max-width:768px) {
    /*要素をcenter,boxを作ってまとめる,下余白*/
      .footer-area ul{
        width: 70%;
        margin: 0 auto 40px;
    }
  
  /*縦ブロックでおさめる*/
    .school-info,
    .footer-sitemap{
        width:100%;
    }
    .school-info{
        text-align: center;
        margin:0 0 70px 0;
        padding: 0 0 40px 0;
        border-bottom:1px solid rgba(255,255,255,0.8);
    }
}

